.header-component {
    display: flex;
    backdrop-filter: opacity(0.2);
    height: 100%;
    min-width: 360px;
    background-color: #0a0218;
    margin-left: -12px;
    border-right: solid 3px rgb(20, 5, 104);
    background: radial-gradient(#3d069d, #020401);
    align-items: flex-start;
}

.div-main {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 60vh;
    justify-content: flex-start;
    align-items: center;
    margin: 30px;
}

.menu {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.link {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5em;
    margin-top: 60px;
}

.name {
    color: aliceblue;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 60px;
}