body {
    background-color: aliceblue;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.container-login {
    background-image: url('../images/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg');
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 222, 228);
    justify-content: space-around; 
    align-items: center;
    border-radius: 15px;
    width: 480px;
    height: 350px;

}

.login-form h1 {
    color: rgb(0, 0, 0);
}

.name-imput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.name-imput input {
    margin-top: 30px;
}

.btn {
    width: 100%;
}